title {
  text-align: center;
}

header {
  background-color: black;
  display: block;
  height: 50px;
  width: 100%;
}

#logo-box {
  display: inline-block;
  height: 50px;
  margin-left: 15px;
  width: 100px;
}

#logo {
  color: yellow;
  margin-left: 10%;
  margin-top: 6%;
  text-align: left;
  font-size: 110%;
}

#nav {
  float: right;
  height: 50px;
  margin-right: 5px;
}

.browse {
  float: right;
  margin-right: 15px;
  position: relative;
  top: 30%;
}

a {
  color: yellow;
  font-family: Verdana;
  font-size: 14px;
  text-decoration: none;
}

body {
  display: block;
  margin: auto;
}

#main {
  display: block;
  height: 150px;
  width: 100%;
}

#grass {
  background-color: green;
  margin-top: 39.5%;
  height: 5px;
  width: 100%;
}

#door {
  animation: door 4s;
  animation-fill-mode: forwards;
  border: 10px solid black;
  height: 180px;
  position: absolute;
  width: 90px;
  z-index: -1;
}

@keyframes door {
  0% {left: 1280px; top: 54%;}
  100% {left: 595px; top: 54%;}
}

#floor {
  animation: floor 4s;
  animation-fill-mode: forwards;
  background-color: black;
  height: 10px;
  position: absolute;
  width: 500px;
  z-index: -1;
}

@keyframes floor {
  0% {left: -504px; top: 550px;}
  100% {left: 400px; top: 550px;}
}

#wallA {
  animation: wallA 3s;
  animation-fill-mode: forwards;
  background-color: black;
  height: 300px;
  position: absolute;
  width: 10px;
  z-index: -1;
}

@keyframes wallA {
  0% {left: -504px; top: -60%;}
  100% {left: 400px; top: 250px;}
}

#wallB {
  animation: wallB 3s;
  animation-fill-mode: forwards;
  background-color: black;
  height: 300px;
  position: absolute;
  width: 10px;
  z-index: -1;
}

@keyframes wallB {
  0% {left: 1280px; top: -60%;}
  100% {left: 890px; top: 250px;}
}

#roof {
  animation: roof 3s;
  animation-fill-mode: forwards;
  border-bottom: 100px solid black;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

@keyframes roof {
  0% {left: 347px; top: -100%;}
  100% {left: 347px; top: 150px;}
}

#sign {
  animation: sign 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  background-color: #FFFACD;
  border: 5px solid black;
  font-family: Verdana;
  font-size: 130%;
  height: 60px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 100px;
}

@keyframes sign {
  0% {left: 210px; top: -80%; visibility: visible;}
  100% {left: 200px; top: 420px; visibility: visible;}
}

#sign-post {
  animation: sign-post 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  background-color: black;
  height: 60px;
  position: absolute;
  visibility: hidden;
  width: 8px;
}

@keyframes sign-post {
  0% {left: 252px; top: -80%; opacity: 0; visibility: visible;}
  100% {left: 252px; top: 500px; visibility: visible;}
}

#slogan {
  animation: slogan 6s;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
  color: #66D9D9;
  font-size: 325%;
  margin-top: -30%;
  opacity: 0;
  padding-left: 100px;
  text-align: center;
  text-shadow: 0.5px 0.5px yellow;
}

@keyframes slogan {
  0% {opacity: 0;}
  100% {opacity: 1;}
}